body{

    background: rgb(211, 143, 143);
    margin-left: 200px;
    margin-right: 200px;
}

header{
    margin-top: 40px;
}

h1{
    font-family: fantasy;
    font-size: 70px;
    color: rgb(233, 148, 212);
}

h2{
    font-family: fantasy;
    
}

p{
    font-size: 18px;
}

.margem {
    margin-bottom: 100px;
    
}

.tamanho_imagem {
    width: 500px;
}